<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">StegHash</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="active">    <a routerLink="/settings" routerLinkActive="active">Settings</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="mainContainer">
  <router-outlet></router-outlet>
</div>
